doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		// Title
		title Willi Hyde Github

		// Fonts
		link(href='https://fonts.googleapis.com/css?family=Berkshire+Swash', rel='stylesheet')

		// Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')

		// Custom Styles
		link(href='/css/github.min.css?v=8b', rel='stylesheet', type='text/css')
	body
		.container
			.bc-header
				h1 Bago Crypto
				h3 A new, sophisticated, crypto-currency.
			.coin-wrap
				.coin.spin
					span B
			h4.text-center Coming Soon...
